/*-- scss:defaults --*/

/*-- scss:defaults --*/

// Colors
$light-blue: #C2D9E3;
$white: #E9F3F6;
$dark-green: #005E5E;
$deep-blue: #003087;
$light-turq: #5EB6D9;
$baby-blue: #90DFE3;

// Base document colors
$navbar-bg: $light-blue; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $light-turq; // highlight color when hovering over navbar links
$body-bg: $dark-green; // page background
$body-color: $light-blue; // page text
$footer-bg: $light-blue; // footer
$link-color: $light-turq; // hyperlinks

// Inline code
//$code-bg: $cream; // inline code background color
//$code-color: $purple; // inline code text color
